<div id="<%= block_id %>">
    <ul>
    <% if @news %>
      <% news.first(5).each do |story| %>
        <li class="story-item <% if story[:source] == 'AxisPhilly' %>axis-story<% end %>">
          <div>
            <%= link_to(story[:title], story[:url], :target => '_blank') %>
            <span class="source"><%= story[:source] %>, <%= story[:published].strftime('%b. %e, %Y') %></span>
          </div>
        </li>
      <% end %>
    <% else %>
      <li><em>We're having trouble retrieving updates at the moment.</em></li>
    <% end %>
    </ul>
</div>