<section class="row">
  <h2 class="headline twelve columns">School Watch</h2>
</section>

<section class="row">
  <div class="six columns">
    <p>
      On XX/XX/XXXX, the School Reform commission voted to close 23 Philadelphia Public Schools. What happens next?
    </p>
    <p>
      This project will track news for each of the closing schools as the district moves to close them at the end
      of the school year. Each school has its own page, where you can find news about that school, as well as a forum for community input into what the City should do with the school.
    </p>
    <p>
      Have ideas on how we could improve this tool? Send them to <a href="mailto:editor@axisphilly.org">editor@axisphilly.org</a>.
    </p>

    <dl class="tabs">
      <dd><a href="#list">School Closing List</a></dd>
      <dd class="activeTab"><a href="#mapContainer">Map</a></dd>
    </dl>
    <ul class="tabs-content">
      <li id="mapContainerTab">
        <div id="map"></div>
      </li>
      <li class="active" id="listTab">
        <table class="twelve">
          <thead>
            <tr>
              <th>Name</th>
              <th>Address</th>
              <th>Foo</th>
            </tr>
          </thead>

          <% @schools.each do |school| %>
            <tr>
              <td><%= school.name.titleize %></td>
              <td><%= school.address.titleize %></td>
              <td><%= link_to 'Show', school %></td>
            </tr>
          <% end %>

        </table>
      </li>
    </ul>

  </div>

  <div class="six columns">
    <div id="news">
      <h4>Recent News</h4>
      <ul>
        <li>NewsWorks: <a href="http://www.newsworks.org/index.php/the-feed/item/52119-what-should-become-of-the-germantown-high-school-property" target="_blank">What should become of the Germantown High School property?</a>, 3/11/2013</li>
        <li>AxisPhilly: <a href="http://axisphilly.org/article/city-officials-look-toward-next-uses-for-shuttered-school-buildings/" target="_blank">City officials look toward next uses for shuttered school buildings</a>, 3/13/2013</li>
      </ul>
    </div>

    <div id="resources">
      <h4>Resources</h4>
      <ul>
        <li><a href="http://www.pewtrusts.org/uploadedFiles/wwwpewtrustsorg/Reports/Philadelphia_Research_Initiative/Philadelphia-School-Closings.pdf">Pew: Shuttered Public Schools: The Struggle to Bring Old Buildings New Life</a>, 2/11/2013</li>
        <li><a href="http://www.pewtrusts.org/uploadedFiles/wwwpewtrustsorg/Reports/Philadelphia_Research_Initiative/Closing-Public-Schools-Philadelphia.pdf">Closing Public Schools in Philadelphia: Lessons from Six Urban Districts</a>, 10/19/2011</li>
      </ul>
    </div>

    <div id="data-sources">
      <h6>Data Sources</h6>
      <p>School location and demographic information is available as part of the School District's <a href="http://webgui.phila.k12.pa.us/offices/a/accountability/open-data-initiative">Open Data Initiative</a>. The listing of schools to be closed can be found on the School District's <a href="http://webgui.phila.k12.pa.us/offices/f/facilities-master-plan">Facilities Master Plan</a>.
    </div>
  </div>
</section>