// Place all the styles related to the Schools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#data-sources {
  padding: 2px 16px;
  background-color: #F0F0F0;
}

#map {
  height: 400px;
  width: 90%;
  margin: 0 auto;
}