// Place all the styles related to the Schools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: Helvetica, Arial, sans-serif;
}

#data-sources {
  padding: 2px 16px;
  background-color: #F0F0F0;
}

#map-div {
  height: 525px;
  width: 90%;
  margin: 0 auto;
}

.leaflet-top {
  z-index: 100;
}

.label {
  font-size: 14px;
}

ul {
  list-style-type: none;
  
  li {
    font-size: 16px;
  }
}

.source {
  font-size: 14px;
  color: #777;
}